
{{#if siteSettings.posterlocation_enabled}}
  <div class="control-group">
    <label class="control-label">Yr Location (shows up on posts)</label>
    <div class="controls">
      {{ input value=model.custom_fields.posterlocation }}
    </div>
  </div>
{{/if}}
